{
	order coraza_waf first
	order rate_limit before basicauth
	order az_alert_slack_notification before reverse_proxy

	log {
		#format console
		level info
	}
}

(to-slack) {
	az_alert_slack_notification
	reverse_proxy https://hooks.slack.com {
		header_up Host {upstream_hostport}
		rewrite {args[0]}
	}
}

http://localhost:8080 {
	encode zstd gzip

	handle /api/slack/testevarsel* {
		import to-slack {$SLACK_TESTEVARSEL}
	}

	handle /api/slack/azureplatformalerts* {
		import to-slack {$SLACK_AZUREPLATFORMALERTS}
	}

	handle /api/health* {
		respond "I'm fine" 200
	}

	handle_errors {
		respond 403
	}
}

# entry point for azure container app
http://localhost {
	# OWASP top 10 - web application firewall
	coraza_waf {
		load_owasp_crs
		directives `
		Include @coraza.conf-recommended
		Include @crs-setup.conf.example
		Include @owasp_crs/*.conf
		SecRuleEngine On
		`
	}

	# rate limit - maximum 120 events within 1 minute
	rate_limit {
		distributed
		zone static_example {
			key static
			events 120
			window 1m
		}
	}

	reverse_proxy http://localhost:8080
}
