{
	log {
		format console
		level debug
	}
}

(to-slack) {
	reverse_proxy https://hooks.slack.com {
		header_up Host {upstream_hostport}
		rewrite {$SLACK_TEST_NOTIFICATION}
	}
}

http://localhost {
	#encode zstd gzip
	# rate_limit details
	# waf details

	route /transform/test* {
		az_alert_slack_notification
		#respond {http.request.body}
		import to-slack
	}

	route /direct/test* {
		import to-slack
	}

	handle /health* {
		respond "I'm fine" 200
	}
}
