## working - secret @ source
# localhost {
# 	reverse_proxy https://hooks.slack.com {
# 		header_up Host {upstream_hostport}
# 	}
# }

## - secret @ reverse proxy

(to-slack) {
	# rate_limit 10 1m
	# waf
	# transform 	
	encode zstd gzip
	reverse_proxy https://hooks.slack.com {
		header_up Host {upstream_hostport}
	}
}
http://localhost {
	handle /test* {
		rewrite /test* {$SLACK_TEST_NOTIFICATION}
		import to-slack
	}
	handle /prod* {
		rewrite /prod* {$SLACK_PROD_NOTIFICATION}
		import to-slack
	}
	handle /health* {
		respond "I'm fine" 200
	}
}
